:root {
    --essence-version: '1.0.1';

    /* || Channel Items */
    --container-rounding: 6px;
    --pill-default-height: 20px;
    --pill-unread-height: 4px;
    --pill-hover-height: 14px;
    --pill-default-background: hsl(var(--essence-accent-brand));
    --pill-unread-background: hsl(var(--essence-accent-orange));
    --pill-connected-background: hsl(var(--essence-accent-green));

    /* || Message Items */
    --message-brand-pill: hsl(var(--essence-accent-brand));
    --message-brand-background: hsl(var(--essence-accent-brand), 0.15);
    --message-brand-background-hover: hsla(var(--essence-accent-brand), 0.25);
    --message-mentioned-pill: hsl(var(--essence-accent-orange));
    --message-mentioned-background: hsla(var(--essence-accent-orange), 0.15);
    --message-mentioned-background-hover: hsla(var(--essence-accent-orange), 0.2);

    /* || Window Buttons */
    --winbutton-max-background: hsl(var(--essence-accent-green));
    --winbutton-min-background: hsl(var(--essence-accent-yellow));
    --winbutton-close-background: hsl(var(--essence-accent-red));

    /* || Status Colors */
    --status-online: hsl(var(--essence-accent-green));
    --status-idle: hsl(var(--essence-accent-yellow));
    --status-dnd: hsl(var(--essence-accent-red));
    --status-streaming: hsl(var(--essence-accent-purple));
    --status-offline: hsl(var(--essence-accent-grey));

    /* || Rounding */
    --avatar-default-rounding: 34%;
    --server-default-rounding: 39%;
    --server-selected-rounding: 34%;
}

.theme-dark, .theme-dark .root-g14mjS, .theme-dark .force-theme.theme-light,
.theme-light, .theme-light .root-g14mjS, .theme-light .force-theme.theme-light {
    --background-app: var(--essence-app);
    --background-primary: var(--essence-primary);
    --background-secondary: var(--essence-secondary);
    --background-secondary-alt: var(--essence-alt);
    --background-tertiary: var(--essence-tertiary);
    --background-accent: var(--essence-bgaccent);
    --background-floating: var(--essence-popouts);
    --input-background: var(--essence-inputs);
    --channeltextarea-background: var(--background-tertiary);
    --modal-background: var(--essence-modals);
    --modal-footer-background: var(--essence-modals);

    --background-mobile-primary: var(--background-primary);
    --background-mobile-secondary: var(--background-secondary);

    --background-modifier-accent: rgb(var(--essence-modifier-rgb));
    --background-modifier-accent-alt: rgba(var(--essence-modifier-rgb), 0.54);
    --background-modifier-hover: rgba(var(--essence-modifier-rgb), 0.45);
    --background-modifier-active: rgba(var(--essence-modifier-rgb), 0.6);
    --background-modifier-selected: rgba(var(--essence-modifier-rgb), 0.8);

    --deprecated-card-bg: var(--essence-card);
    --deprecated-text-input-bg: var(--essence-inputs);
    --deprecated-text-input-border: var(--essence-inputs);

    --channel-icon: var(--essence-text-channels);
    --channels-default: var(--essence-text-channels);
    
    --text-normal: var(--essence-text-primary);
    --text-muted: var(--essence-text-muted);
    --text-brand: hsl(var(--essence-accent-brand));
    --text-link: hsl(var(--essence-accent-blue));
    --text-link-low-saturation: var(--text-link);
    --header-primary: var(--essence-text-primary);
    --header-secondary: var(--essence-text-secondary);
    --interactive-normal: var(--essence-interactive-secondary);
    --interactive-hover: var(--essence-interactive-alt);
    --interactive-active: var(--essence-interactive-primary);
    --interactive-muted: var(--essence-interactive-muted);
    --input-placeholder-text: var(--interactive-muted);

    --brand-experiment-100: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-130: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-160: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-200: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-230: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-260: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-300: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-330: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-360: hsl(var(--essence-accent-brand-saturated));
    --brand-experiment-400: var(--brand-experiment);
    --brand-experiment-430: var(--brand-experiment);
    --brand-experiment-460: var(--brand-experiment);
    --brand-experiment: hsl(var(--essence-accent-brand));
    --brand-experiment-500: var(--brand-experiment);
    --brand-experiment-530: var(--brand-experiment);
    --brand-experiment-560: var(--brand-experiment);
    --brand-experiment-600: var(--brand-experiment);
    --brand-experiment-630: var(--brand-experiment);
    --brand-experiment-660: var(--brand-experiment);
    --brand-experiment-700: var(--brand-experiment);
    --brand-experiment-730: hsl(var(--essence-accent-brand-alt));
    --brand-experiment-760: hsl(var(--essence-accent-brand-alt));
    --brand-experiment-800: hsl(var(--essence-accent-brand-alt));
    --brand-experiment-830: hsl(var(--essence-accent-brand-alt));
    --brand-experiment-860: hsl(var(--essence-accent-brand-alt));
    --brand-experiment-900: hsl(var(--essence-accent-brand-alt));

    --brand-experiment-05a: hsla(var(--essence-accent-brand), 0.05);
    --brand-experiment-10a: hsla(var(--essence-accent-brand), 0.1);
    --brand-experiment-15a: hsla(var(--essence-accent-brand), 0.15);
    --brand-experiment-20a: hsla(var(--essence-accent-brand), 0.2);
    --brand-experiment-25a: hsla(var(--essence-accent-brand), 0.25);
    --brand-experiment-30a: hsla(var(--essence-accent-brand), 0.3);
    --brand-experiment-35a: hsla(var(--essence-accent-brand), 0.35);
    --brand-experiment-40a: hsla(var(--essence-accent-brand), 0.4);
    --brand-experiment-45a: hsla(var(--essence-accent-brand), 0.45);
    --brand-experiment-50a: hsla(var(--essence-accent-brand), 0.5);
    --brand-experiment-55a: hsla(var(--essence-accent-brand), 0.55);
    --brand-experiment-60a: hsla(var(--essence-accent-brand), 0.6);
    --brand-experiment-65a: hsla(var(--essence-accent-brand), 0.65);
    --brand-experiment-70a: hsla(var(--essence-accent-brand), 0.7);
    --brand-experiment-75a: hsla(var(--essence-accent-brand), 0.75);
    --brand-experiment-80a: hsla(var(--essence-accent-brand), 0.8);
    --brand-experiment-85a: hsla(var(--essence-accent-brand), 0.85);
    --brand-experiment-90a: hsla(var(--essence-accent-brand), 0.9);
    --brand-experiment-95a: hsla(var(--essence-accent-brand), 0.95);

    // || Red (danger)
    --button-danger-background: var(--button-red-background);
    --button-danger-background-hover: var(--button-red-background-hover);
    --button-danger-background-active: var(--button-red-background-active);
    --button-danger-background-disabled: var(--button-red-background-disabled);
    --button-outline-danger-border: var(--button-red-background);
    --button-outline-danger-border-hover: var(--button-red-background-hover);
    --button-outline-danger-border-active: var(--button-red-background-active);
    --button-outline-danger-background-hover: var(--button-red-background-hover);
    --button-outline-danger-background-active: var(--button-red-background-active);
    --button-outline-danger-background-disabled: var(--button-red-background-disabled);
    --text-danger: hsl(var(--essence-accent-red));
    --status-danger: hsl(var(--essence-accent-red));
    --info-danger-background: hsl(var(--essence-accent-red), 0.1);
    --info-danger-foreground: hsl(var(--essence-accent-red));

    // || Yellow (warning)
    --text-warning: hsl(var(--essence-accent-yellow));
    --status-warning: hsl(var(--essence-accent-yellow));
    --info-warning-background: hsl(var(--essence-accent-yellow), 0.1);
    --info-warning-foreground: hsl(var(--essence-accent-yellow));
    --status-warning-background: hsl(var(--essence-accent-yellow));

    // || Green (positive)
    --button-positive-background: var(--button-green-background);
    --button-positive-background-hover: var(--button-green-background-hover);
    --button-positive-background-active: var(--button-green-background-active);
    --button-positive-background-disabled: var(--button-green-background-disabled);
    --button-outline-positive-border: var(--button-green-background);
    --button-outline-positive-border-hover: var(--button-green-background-hover);
    --button-outline-positive-border-active: var(--button-green-background-active);
    --button-outline-positive-background-hover: var(--button-green-background-hover);
    --button-outline-positive-background-active: var(--button-green-background-active);
    --button-outline-positive-background-disabled: var(--button-green-background-disabled);
    --text-positive: hsl(var(--essence-accent-green));
    --status-positive: hsl(var(--essence-accent-green));
    --status-positive-background: hsl(var(--essence-accent-green));
    --info-positive-background: hsl(var(--essence-accent-green), 0.1);
    --info-positive-foreground: hsl(var(--essence-accent-green));

    // || Grey
    --button-secondary-background: var(--button-grey-background);
    --button-secondary-background-hover: var(--button-grey-background-hover);
    --button-secondary-background-active: var(--button-grey-background-active);
    --button-secondary-background-disabled: var(--button-grey-background-disabled);
    --button-outline-primary-border: var(--button-grey-background);
    --button-outline-primary-border-hover: var(--button-grey-background-hover);
    --button-outline-primary-border-active: var(--button-grey-background-active);
    --button-outline-primary-background-hover: var(--button-grey-background-hover);
    --button-outline-primary-background-active: var(--button-grey-background-active);
}
