#app-mount .root-g14mjS {
    .authBoxExpanded-AN2aH1 {
        box-shadow: none;
        background-color: var(--modal-background);
    }
    .navRow-dG-XX8 {
        margin: 0 15px;
        padding: 16px 0;
        border-top: 1px solid var(--background-modifier-accent);
        background-color: var(--modal-footer-background);
        button {
            margin: 0;
        }
    }
}