#app-mount .root-g14mjS {
    .contentWrapper-2pLX__, .emojiPicker-6YCk8a {
        box-shadow: none;
        background-color: var(--modal-background);
    }
    .inspector-DFKXwB {
        padding-right: 0;
        margin-left: -15px;
        border-top: 1px solid var(--background-modifier-accent-alt);
        background-color: var(--modal-background);
    }
    .wrapper-1NNaWG, .wrapper-22rqw6 {
        background-color: var(--modal-background);
    }
    .header-11eigE {
        box-shadow: none;
        padding-right: 6px;
        padding-bottom: 10px;
        padding-left: 0;
        margin: 0 15px;
        border-bottom: 1px solid var(--background-modifier-accent-alt);
    }
    .container-1SX9VC .scrollerBase-_bVAAt {
        background-color: var(--input-background);
    }
    .navList-OZXhFv {
        .navItem-1Ka4aR {
            color: var(--interactive-normal);
            .navButtonActive-2Ad1wV {
                color: var(--interactive-active);
                background-color: var(--background-modifier-selected);
            }
            .navButton-2UXXaK {
                &:hover {
                    background-color: var(--background-modifier-hover);
                }
                &:active {
                    background-color: var(--background-modifier-active);
                }
            }
        }
    }
    .diversitySelectorOptionsInExpressionPicker-3wybQR {
        right: 1px;
    }
}