#app-mount .root-g14mjS {
    .stepContainer-3L3EXG {
        [class="progressBar-18rmp1"] {
            background-color: var(--background-secondary-alt);
        }
        .selectedProgressBar-11z5d9 {
            background-color: hsl(var(--essence-accent-green));
        }
    }
    .card-8UsK4b {
        border-color: var(--background-floating);
        background-color: var(--background-floating);
        &:hover {
            border-color: var(--background-tertiary);
            background-color: var(--background-tertiary);
        }
        .newBadge-3QiMZJ {
            background-color: hsl(var(--essence-accent-brand)) !important;
            .newBadgeText-2Yqi08 {
                color: hsl(var(--essence-accent-brand-alt));
            }
        }
        .divider-2zyEHJ {
            margin: 16px 0 12px;
            background-color: var(--background-modifier-accent-alt);
        }
        .rsvpCount-iCkObl {
            background-color: var(--background-secondary);
        }
    }
    .container-3EBHNg {
        margin: 0 15px;
        padding-left: 0;
        border-bottom: 1px solid var(--background-modifier-accent);
    }
    .contentContainer-BWAau5 {
        background-color: var(--modal-background);
    }
}