#app-mount .root-g14mjS {
    .featureModalMessage-fZR6jp {
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-primary);
    }
}