#app-mount {
    .keyboardShortcutsModal-2CRmCm {
        background-color: var(--modal-background);
    }
    .modalSubtitle-2lx7qk {
        padding-left: 0;
        margin: 0 41px;
        border-bottom-color: var(--background-modifier-accent);
    }
    .keybindShortcut-3zF1P9 .key-N5VmHN {
        box-shadow: inset 0 -4px 0 var(--background-secondary);
        background-color: var(--background-secondary-alt);
    }
}