#app-mount .root-g14mjS {
    .message-G6O-Wv {
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-primary);
    }
}