.quickswitcher-pKcM9U {
    border-radius: var(--essence-default-rounding);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    background-color: var(--modal-background);
    .scroller-2qwVWY {
        background-color: var(--modal-background);
    }
}