#app-mount .root-g14mjS {
    // || Reaction Emoiji List
    .scroller-2GkvCq {
        background-color: var(--background-tertiary);
        .reactionDefault-1Sjj1f {
            &:hover {
                background-color: var(--background-modifier-hover);
            }
            &:active {
                background-color: var(--background-modifier-active);
            }
        }
        .reactionSelected-1aMb2K {
            background-color: var(--background-modifier-selected);
        }
    }
    // || Reaction Users List
    .reactors-1VXca7 {
        background-color: transparent;
        .reactorDefault-3GSyaV {
            box-shadow: none;
            border-bottom: 1px solid var(--background-modifier-accent);
        }
    }
}