#app-mount .root-g14mjS {
    .contentWrapper-3oy4Xo {
        background-color: transparent;
    }
    .inviteSplash-2Q0PLE {
        margin: 8px;
        margin-left: 0;
        border-radius: var(--essence-rounding);
        background-color: var(--background-tertiary);
    }
}