#app-mount .root-g14mjS {
    .iconWrapper-2_MXbk {
        background-color: var(--background-accent);
    }
    .perks-2IIbWQ {
        background-color: var(--background-tertiary);
        .perkRow-10K6XE {
            border-bottom-color: var(--background-modifier-accent-alt);
        }
    }
}