#app-mount .root-g14mjS {
    .tile-3POX2m:hover .sourceThumbnail-ERDcZE {
        box-shadow: inset 0 0 0 2px hsl(var(--essence-accent-brand));
    }
    .qualitySettingsContainer-2LjkfM {
        border-color: var(--background-tertiary);
        .selectorButton-3fWZ0_ {
            margin-right: 5px;
            border: none;
            border-radius: 9px;
            background-color: var(--background-tertiary);
            &:hover {
                background-color: hsl(var(--essence-accent-brand));
            }
        }
        .selectorButtonSelected-3cQUnj {
            background-color: hsl(var(--essence-accent-brand));
        }
    }
}