@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         Essence
    @description  A smooth, rounded theme.
    @author       LuckFire#4800
    @namespace    https://github.com/discord-extensions
    @version      1.1.2
    ==/UserStyle== */

    /* || ➕ Addons */
    @import url('https://discord-extensions.github.io/essence/src/vendors/friends-grid.css');
    /* @import url('https://discord-extensions.github.io/essence/src/vendors/horizontal-server-list.css'); */
    @import url('https://discord-extensions.github.io/essence/src/vendors/iconsax-discord.css');

    /* || 🎨 Theme Palettes
    * At least one theme palette must be enabled for the theme to properly display.
    * For theme previews, please check out the preview markdown file on the repo.
    */
    @import url('https://discord-extensions.github.io/essence/src/themes/essence-default.css');
    /* @import url('https://discord-extensions.github.io/essence/src/themes/midnight-mars.css'); */
    /* @import url('https://discord-extensions.github.io/essence/src/themes/nord.css'); */
    /* @import url('https://discord-extensions.github.io/essence/src/themes/nebula.css'); */

    /* || 📢 Source */
    @import url('https://discord-extensions.github.io/essence/src/source.css');

    :root {
        --essence-app-rounding: 6px;
        --essence-app-padding: 18px;
        --essence-default-rounding: 6px;
        --essence-default-padding: 10px;
        /* --essence-app-background-image: none; */ /* uncomment this if you want to remove the background image */
    }
}