.layer-86YKbF {
    // || Overview
    .imageUploaderInner-IIRaFr {
        background-color: var(--background-secondary-alt);
    }

    // || Roles
    .container-3EtAkD {
        background-color: var(--background-tertiary);
    }

    // || Stickers
    .progress-dRvoIO {
        .background-3xJH_4 {
            color: var(--background-tertiary);
        }
        .tierInProgress-1vFUnw {
            background-color: var(--background-tertiary);
        }
    }
    .tierHeader-3q9jIw {
        background-color: var(--background-tertiary);
        .tierHeaderContent-2SPBAA {
            padding: 16px 0;
            margin: 0 16px;
            border-bottom: 1px solid var(--background-primary);
            .tierIconLocked-RGSkSl {
                color: var(--interactive-muted);
            }
        }
    }
    .tierBody-1d3UiS {
        background-color: var(--background-tertiary);
    }
    .placeholderCard-3eGmb3 {
        border-color: var(--background-secondary);
    }

    // || Audit Log
    .auditLog-1NVAY0 {
        border-color: var(--background-tertiary);
        background-color: var(--background-tertiary);
        .header-2pgFQm {
            color: var(--text-normal);
            background-color: var(--background-tertiary);
        }
        .divider-M3saWq {
            margin-left: 15px;
            width: calc(100% - 30px);
            background-color: var(--background-primary);
        }
        .changeDetails-1kMZqI {
            background-color: var(--background-tertiary);
        }
    }

    // || Server Template
    .descriptionBox-SKGNgB {
        background-color: var(--background-tertiary);
        [fill="hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%)"] {
            fill: black;
        }
        [fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
            fill: hsl(var(--essence-accent-green));
        }
        [fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
            fill: hsl(var(--essence-accent-red));
        }
    }

    // || Partner Program
    .featureCard-3XHbjy {
        background-color: var(--background-tertiary);
        .featureIcon-2sTnDK {
            background-color: var(--background-primary);
        }
    }
    .checklistContainer-12xGp5 {
        background-color: var(--background-tertiary);
        .separator-2qVfIV {
            opacity: 1;
            width: calc(100% - 30px);
            margin-left: 15px;
            background-color: var(--background-primary);
        }
        .checked-1pZh2h {
            border-radius: 50%;
            border-color: hsl(var(--essence-accent-brand)) !important;
            background-color: hsl(var(--essence-accent-brand)) !important;
        }
        [fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
            fill: hsl(var(--essence-accent-red));
        }
        [fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
            fill: hsl(var(--essence-accent-orange));
        }
    }

    // || Discovery
    .container-13pE3E {
        background-color: var(--background-tertiary);
        .separator-1py8Bj {
            opacity: 1;
            width: calc(100% - 30px);
            margin-left: 15px;
            background-color: var(--background-primary);
        }
        .checked-1pZh2h {
            border-radius: 50%;
            border-color: hsl(var(--essence-accent-brand)) !important;
            background-color: hsl(var(--essence-accent-brand)) !important;
        }
        [fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
            fill: hsl(var(--essence-accent-red));
        }
        [fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
            fill: hsl(var(--essence-accent-orange));
        }
    }
    .card-WWLYDO, .iconMask-1EYGrv {
        background-color: var(--essence-card);
    }

    // || Membership Screening
    .enableContainer-1J91Aq {
        background-color: var(--background-tertiary);
    }
    .settingsFormItem-25zW3t {
        background-color: var(--background-tertiary);
        .settingsFormFieldWrapper-U99c9i {
            background-color: var(--input-background);
        }
    }
    .getStartedWrapper-2mNX-j {
        background-color: var(--background-tertiary);
    }

    // || Welcome Screen
    .previewContainer-29oeA6 {
        background-color: var(--background-tertiary);
    }
}