.layer-86YKbF {
    // || My Account
    .accountProfileCard-lbN7n- {
        background-color: var(--background-floating);
        .banner-1YaD3N {
            width: unset;
            height: 150px;
            margin: 8px;
            border-radius: var(--essence-rounding);
        }
        .userInfo-regn9W {
            align-items: center;
            justify-content: center;
            width: calc(100% - 34px);
            margin-left: 17px;
            padding: 0;
            padding-top: 94px;
            padding-bottom: 9px;
            border-bottom: 1px solid var(--background-modifier-accent-alt);
            .avatar-3mTjvZ {
                top: 110px;
                left: calc(50% - 49px);
                border: 6px solid var(--background-floating);
                border-radius: calc(var(--avatar-default-rounding) + 2%);
                background-color: transparent;
            }
            .userTag-2qPxEZ {
                margin-bottom: 2px;
            }
            .container-1gYwHN {
                justify-content: center;
                width: 100%;
                margin-bottom: 57px;
            }
            .button-f2h6uQ {
                position: absolute;
                top: 20px;
                right: 22px;
                width: 30px;
                height: 30px;
                min-width: unset;
                min-height: unset;
                padding: 0;
                border-radius: 50px;
                background-color: rgba(0, 0, 0, 0.3);
                background-image: url('data:image/svg+xml;charset=utf-8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.0774 8.19155L16.6174 7.65229C17.7942 6.4755 17.7942 4.55995 16.6174 3.3824C15.4406 2.20562 13.5243 2.20562 12.3475 3.3824L11.8082 3.92242L16.0774 8.19155ZM10.7468 4.9807L4.32057 11.4088L8.59042 15.6775L15.0167 9.2493L10.7468 4.9807ZM3.43209 17.4753L7.29922 16.5093L3.4891 12.6991L2.52232 16.5663C2.45857 16.8213 2.53357 17.0921 2.71957 17.2781C2.90557 17.4641 3.17633 17.5383 3.43209 17.4753Z" fill="white"/></svg>');
                background-position: center;
                background-repeat: no-repeat;
                font-size: 0;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }
            .overflowMenuButton-1I3Jz1 {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 20px;
                right: 60px;
                width: 30px;
                height: 30px;
                min-width: unset;
                min-height: unset;
                border-radius: 50px;
                background-color: rgba(0, 0, 0, 0.3);
                transition: all 150ms ease;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                }
                svg {
                    color: #fff;
                }
            }
        }
        .background-3d_SjE {
            margin-top: 17px;
            padding: 0 3px;
            background-color: transparent;
            .fieldList-in8WkP {
                background-color: transparent;
            }
        }
    }

    // || User Profile
    .preview-Z55SA3 {
        .customStatus-3XAoF9 {
            margin-bottom: 16px;
            padding-top: 24px;
            &::before {
                position: absolute;
                content: 'STATUS';
                bottom: 34%;
                left: 16px;
                margin-bottom: 8px;
                color: var(--header-secondary);
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                text-transform: uppercase;
            }
        }
        .profileBannerPreview-3mLIdO {
            .bannerUploader-2hBvKz .imageUploaderInner-IIRaFr, .bannerNormal-2jf-df {
                height: 120px;
                width: unset;
                margin: 8px;
                border-radius: var(--essence-rounding);
            }
            .avatarUploader-qEFQS2 {
                top: 76px;
                left: 104px;
                .avatarUploaderInner-p38nm2 {
                    border-radius: vaR(--avatar-default-rounding);
                    .imageUploaderIcon-2OHmFu {
                        top: unset;
                        width: 20px;
                        height: 20px;
                        box-shadow: 0 0 0 6px var(--background-floating);
                    }
                }
            }
            .headerTop-3GPUSF {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 37px;
                .nickname-t08Mck {
                    display: flex;
                    justify-content: center;
                }
                .headerText-1-WmDq {
                    padding-bottom: 11px;
                }
                .profileBadges-2pItdR {
                    position: relative;
                    justify-content: center;
                    top: 0;
                    right: 1px;
                    width: 100%;
                    max-width: unset;
                    margin-top: -10px;
                    padding-bottom: 12px;
                    border-bottom: 1px solid var(--background-modifier-accent-alt);
                }
            }
        }
    }

    // || Connections
    .accountList-Wii_T5 {
        background-color: var(--background-tertiary);
        .accountBtnInner-3ttD-i {
            background-color: var(--background-secondary);
            &:hover {
                background-color: var(--background-primary);
            }
        }
    }
    .connection-YOVI9j {
        border-radius: var(--essence-rounding);
        background-color: var(--background-tertiary);
        .connectionHeader-Ixbb1s {
            margin: 0 20px;
            padding: 20px 0;
            border-bottom: 1px solid var(--background-modifier-accent-alt);
            background-color: var(--background-tertiary);
        }
        .integration-1qC-fv {
            border-radius: var(--essence-rounding);
            background-color: var(--background-primary);
        }
    }

    // || Nitro
    .selectedBackground-1t6xXq {
        background-color: hsl(var(--essence-accent-brand));
    }
    .subscriptionsRedirectContainer-zD3U79 {
        border: 1px solid hsl(var(--essence-accent-orange));
        background-color: hsla(var(--essence-accent-orange), 0.25);
        svg {
            color: hsl(var(--essence-accent-orange));
        }
    }
    .feature-2IUcBI {
        background-color: var(--background-tertiary);
    }

    // || Subscriptions
    .detailsBlock-24pLFz {
        background-color: var(--background-tertiary);
    }
    .accountCredit-1gEVAQ {
        background-color: var(--background-tertiary);
    }

    // || Transaction
    .paymentPane-ut5qKZ {
        background-color: var(--background-tertiary);
        .paymentRowHeader-3WJnOv {
            width: 100%;
            border-bottom: 1px solid var(--background-primary);
            .amount-3hAJzp {
                margin-right: 21px;
            }
        }
        .bottomDivider-ZmTm-j {
            margin: 0 15px;
            border-bottom: none;
        }
        .paginator-1eqD2g {
            background-color: transparent;
        }
        .scrollerBase-_bVAAt {
            width: calc(100% + 8px);
            margin: 0;
            background-color: var(--background-tertiary);
            .payment-2bOh4k {
                margin: 0;
                border: none;
                background-color: transparent;
                &.hoverablePayment-lE1s4t {
                    &:hover {
                        background-color: var(--background-modifier-hover);
                    }
                    .summaryInfo-3hcuop {
                        border-bottom: 1px solid var(--background-primary);
                    }
                }
                .summaryInfo-3hcuop {
                    margin: 0 15px;
                    padding: 20px 0;
                }
            }
            .expandedInfo-1W31i3 {
                background-color: var(--background-primary);
            }
        }
    }
    .codeRedemptionRedirect-2hYMSQ {
        border-color: var(--background-tertiary);
        background-color: var(--essence-card);
    }

    // || Appearance
    .preview-QJ3OG3 {
        background-color: var(--background-primary);
    }

    // || Voice & Video
    .notches-2w7UZJ.gray-3wP137 {
        background-image: none;
        background-color: var(--background-primary);
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
    }
    .progress-1S-TDF {
        background-color: var(--background-secondary-alt);
    }
    .backgroundOptionRing-1vvQ0C {
        border-color: hsl(var(--essence-accent-brand));
    }
    .backgroundOptionInner-SSz19O {
        background-color: var(--background-primary);
    }

    // || Activity Status
    .notDetected-M3Ghh2 {
        background-color: var(--background-tertiary);
    }
    .nowPlaying-3UpuKc {
        background-color: hsl(var(--essence-accent-green));
    }
    .game-2f2vPC {
        box-shadow: unset;
        border-bottom: 1px solid var(--background-modifier-accent);
    }

    // || Game Overlay
    .wrapper-SdcMKg {
        border-color: hsl(var(--essence-accent-brand));
        .option-1QI4c9 {
            background-color: var(--background-secondary-alt);
            &.selected-18Wszc {
                background-color: hsl(var(--essence-accent-brand));
            }
        }
        .disabled-35mc5w {
            color: var(--background-secondary-alt);
            &.selected-18Wszc {
                color: hsl(var(--essence-accent-red));
            }
        }
    }

    // || Client & Theme Info
    .info-3pQQBb {
        &::before {
            content: 'Client Info:';
            display: inline-block;
            width: 100%;
            color: var(--text-muted);
            font-family: var(--font-primary);
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
        }
        .line-18uChy:last-child::after {
            content: 'Theme Info:';
            display: inline-block;
            width: 100%;
            margin-top: 10px;
            color: var(--text-muted);
            font-family: var(--font-primary);
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
        }
        &::after {
            content: 'Essence 'var(--essence-version, 'unknown') '\a' var(--essence-theme-name, 'unknown') ' by ' var(--essence-theme-author, 'unknown');
            white-space: pre-wrap;
            display: inline-block;
            width: 100%;
            color: var(--text-muted);
            font-family: var(--font-primary);
            font-size: 12px;
            line-height: 16px;
        }
    }
}