.root-2zfUH6 {
    margin: var(--essence-app-padding);
    .perksModal-CLcR1c {
        border-radius: var(--essence-default-rounding);
        background-color: var(--background-primary);
    }
    .progressBar-20NUv9 {
        .tierMarkerBackground-G8FoN4 {
            background-color: var(--background-primary);
        }
        .barBackground-unEPDT {
            background-color: var(--background-tertiary);
        }
        .tierMarkerInProgress-2Tdxjz {
            background-color: var(--background-tertiary) !important;
        }
    }
    .tier-lFqDUs {
        .tierHeaderLocked-3ItHYn {
            color: var(--interactive-muted);
            background-color: var(--background-tertiary);
            svg {
                color: var(--interactive-muted);
            }
        }
        .tierBody-3ju-rc {
            background-color: var(--background-floating);
        }
    }
    .ctaBar-Nhk8yY, .perk-19D_HN {
        border-radius: var(--essence-default-rounding);
        background-color: var(--background-tertiary);
    }
}

.platform-win .root-2zfUH6 {
    margin-top: 39px;
}