#app-mount {
    .chat-2ZfjoI {
        margin: var(--essence-default-padding);
        background-color: transparent;
        .content-1jQy2l {
            border-radius: var(--essence-default-rounding);
            background-color: var(--background-primary);
            &::before {
                content: none;
            }
            .form-3gdLxP {
                .channelTextArea-1FufC0 {
                    border-radius: 0;
                    .scrollableContainer-15eg7h {
                        border-radius: vaR(--essence-default-rounding);
                        .upload-vLbqu- {
                            background-color: var(--background-primary);
                        }
                        .divider-2rZFJK {
                            left: 15px;
                            right: 15px;
                            border-color: var(--background-modifier-accent-alt);
                        }
                        .separator-3ng7S5::before {
                            border-color: var(--background-modifier-accent-alt);
                        }
                    }
                    .attachedBars-2BCP3l {
                        background-color: var(--channeltextarea-background);
                        > div {
                            margin: 0 15px;
                            .replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
                                margin: 0 -15px;
                                border-bottom: 1px solid var(--background-modifier-accent-alt);
                                background-color: var(--channeltextarea-background);
                            }
                            .separator-8ngZ3p {
                                background-color: var(--background-modifier-accent-alt);
                            }
                        }
                        + .scrollableContainer-15eg7h {
                            border-top-right-radius: 0;
                            border-top-left-radius: 0;
                        }
                    }
                }
                // disabling this til i can figure out a way to make it work sry lorem :NOOOO:
                // &::before{
                //     background: var(--essence-theme-gradient);
                //     transition: 250ms ease;
                //     transform: scale(0);
                //     border-radius: 5px;
                //     margin-left: 6px;
                //     width: 4px;
                // }
                // &:hover:not(:focus-within){
                //     &::before{
                //         transform: scale(1);
                //         margin-top: 8px;
                //         height: 24px;
                //     }
                // }
                // &:focus-within{
                //     &::before{
                //         transform: scale(1);
                //         margin-top: 3px;
                //         height: 38px;
                //     }
                // }
            }
            .jumpToPresentBar-1cEnH0 {
                opacity: 1;
                padding: 4px 0;
                margin-bottom: 10px;
                border-radius: var(--essence-default-rounding);
                background-color: var(--background-accent);
                button {
                    color: var(--text-normal);
                }
            }
        }
        .message-2CShn3 {
            margin-left: 5px;
            border-radius: vaR(--essence-default-rounding);
            &::before {
                top: 6px;
                bottom: 6px;
                left: 5px;
                width: 4px;
                border-radius: 6px;
            }
            // || Message Accents
            &.mentioned-Tre-dv {
                background-color: var(--message-mentioned-background);
                &::before {
                    background-color: var(--message-mentioned-pill);
                }
                &:hover {
                    background-color: var(--message-mentioned-background-hover);
                }
            }
            &.replying-eZ7p5z, &.ephemeral-2nDdnn {
                background-color: var(--message-brand-background);
                &::before {
                    background-color: var(--message-brand-pill);
                }
                &:hover {
                    background-color: var(--message-brand-background-hover);
                }
            }
        }
        .divider-2rZFJK {
            &.isUnread-3Lojb- {
                border-color: hsl(var(--essence-accent-red));
                .content-3spvdd {
                    color: white;
                    background-color: hsl(var(--essence-accent-red));
                }
                .unreadPill-3nEWYM {
                    right: unset;
                    left: 0;
                    height: auto;
                    padding: 2px 6px 2px 5px;
                    border-radius: 25px;
                    box-shadow: 3px 0 0 var(--background-primary);
                    background-color: hsl(var(--essence-accent-red));
                    .unreadPillCap-2-iI4h {
                        display: none;
                    }
                }
            }
            .content-3spvdd {
                padding: 2px 7px 3px 6px;
                border-radius: 25px;
                box-shadow: 0 -1px 0 3px var(--background-primary);
                color: var(--header-secondary);
                background-color: var(--background-modifier-accent);
            }
        }
        .newMessagesBar-1hF-9G {
            top: 10px;
            right: 18px;
            left: 10px;
            border-radius: var(--essence-default-rounding);
            background-color: hsl(var(--essence-accent-brand));
        }
        .wrapper-2vIMkT {
            border-radius: var(--essence-default-rounding);
            background-color: var(--background-floating);
        }
    }
}