#app-mount .pageWrapper-2PwDoS {
    margin: 10px;
    border-radius: var(--essence-rounding);
    .scroller-3j5xK2 {
        border-radius: var(--essence-rounding);
        background-color: var(--background-primary);
        .card-2TuZPZ, .iconMask-2fMR98 {
            background-color: var(--background-secondary);
        }
        .card-2TuZPZ:hover {
            background-color: var(--background-tertiary);
            .iconMask-2fMR98 {
                background-color: var(--background-tertiary);
            }
        }
    }
}