#app-mount {
    .container-3wLKDe {
        border-radius: var(--essence-default-rounding);
        background-color: var(--background-primary);
        .mainCard-3KBsBI, .sidebarCard-1Gn1ch, .container-2IhveL {
            border-color: var(--background-tertiary);
            background-color: var(--background-tertiary);
        }
        .pill-3pRQlO {
            background-color: var(--background-modifier-accent);
            &:hover {
                background-color: var(--background-modifier-hover);
            }
        }
        .tagsDivider-3LhkLA {
            margin-right: 15px;
            margin-left: 15px;
            width: calc(100% - 5px);
        }
        .hasUnreads-3kKLnS:before {
            top: 22px;
            left: 9px;
            width: 4px;
            height: 4px;
            border-radius: 5px;
            background-color: var(--pill-unread-background);
        }
        .newBadge-1LcB6t {
            background-color: hsl(var(--essence-accent-brand-saturated)) !important;
            .newBadgeText-1y7fMO {
                color: var(--text-brand);
            }
        }
    }
    .threadSidebarOpen-1LSXvU {
        ~ .container-3XgAHv {
            margin: 10px;
            margin-left: -10px;
            border-radius: var(--essence-default-rounding);
            .chat-25x62K {
                &::before {
                    content: none;
                }
                .container-3YcgdM {
                    border-top: none;
                }
                .divider-AZrXIA {
                    margin-left: 15px;
                    height: 1px;
                    width: calc(100% - 30px);
                }
            }
        }
        ~ .resizeHandle-PBRzPC {
            margin-left: -10px;
            margin-right: 10px;
        }
    }
}