.chat-2ZfjoI {
    .title-31SJ6t.background-fkKrXt {
        background-color: var(--background-primary);
    }
    .card-3x20HF,
    .container-2Hi7Km,
    .container-3rZ3XA,
    .container-xwOzwi,
    .card-3x20HF .wrapper-15CKyy {
        background-color: var(--background-tertiary);
    }
    .emptyStateContainer-xWOMPJ {
        background-color: var(--background-secondary);
    }
    @media (max-width: 1300px) {
        .container-xwOzwi,
        .container-3rZ3XA {
            background-color: var(--background-primary);
        }
        .container-3HMTms,
        .emptyStateContainer-xWOMPJ {
            background-color: var(--background-tertiary);
        }
    }
    .icon-2IDTxf {
        border-color: var(--background-tertiary);
    }
    .iconContainer-2R-3M1,
    .moreUsers-_v6T-L,
    .typingIndicator-KF8hGa {
        background-color: var(--background-primary);
    }
    .previewContainer-3BJM_S {
        background-color: var(--background-secondary);
    }
    .dummySwitch-fxMi2_ {
        background-color: hsl(var(--essence-accent-green));
    }
}