.characterBackground-1BPOOJ {
    -webkit-app-region: no-drag;
    .artwork-L5TAwQ {
        width: calc(100% - (var(--essence-app-padding) * 2));
        height: calc(100% - (var(--essence-app-padding) * 2));
        margin: var(--essence-app-padding);
        min-height: unset;
        border-radius: var(--essence-default-rounding);
    }
}

.platform-win .artwork-L5TAwQ {
    margin-top: calc(var(--essence-app-padding) + 22px);
    height: calc(100% - (var(--essence-app-padding) + 38px));
}
