.characterBackground-1BPOOJ {
    -webkit-app-region: no-drag;
    .artwork-L5TAwQ {
        width: calc(100% - 36px);
        height: calc(100% - 36px);
        margin: 18px;
        min-height: unset;
        border-radius: var(--essence-rounding);
    }
}

.platform-win .artwork-L5TAwQ {
    margin-top: 40px;
    height: calc(100% - 56px);
}

