.container-2_BXG- {
    margin: var(--essence-default-padding);
    .scroller-38C5lh {
        border-radius: var(--essence-default-rounding);
    }
    .coverImage-2FIeGi {
        border-radius: var(--essence-default-rounding);
        margin: 8px;
        max-width: -webkit-fill-available;
    }
}