.wrapper-1gVUIN {
    // || Main
    &.minimum-fXpVNc {
        margin-bottom: 10px;
        .callContainer-HtHELf {
            background-color: var(--background-primary);
        }
    }
    .callContainer-HtHELf {
        border-radius: var(--essence-rounding);
    }
    .tile-2TcwiO, .root-1Emen5 {
        background-color: var(--background-primary);
    }
    .border-2Vy6FN.speaking-7QZEkv {
        box-shadow: inset 0 0 0 2px var(--status-positive), inset 0 0 0 3px var(--background-secondary);
    }
    .callAvatarMask-fiNMWy { // || too lazy and probably not really too important to add a mask for this
        foreignObject {
            mask: none;
            .voiceAvatar-lRbblo {
                border-radius: var(--avatar-default-rounding);
            }
            .status-1ZXjSF {
                box-shadow: 0 0 0 4px var(--background-primary);
            }
        }
    }
    .wrapper-3mYmFS.ringingIncoming-fibTw-:after, .wrapper-3mYmFS.ringingOutgoing-1NjfRn:after {
        border-radius: var(--avatar-default-rounding);
    }

    // || Buttons
    .colorable-3rVGna.primaryDark-2UJt1G {
        background: var(--button-secondary-background);
        &:hover {
            background: var(--button-secondary-background-hover);
        }
        &:active {
            background: var(--button-secondary-background-active);
        }
    }
    .colorable-3rVGna.red-3T8maV {
        background: var(--button-red-background);
        &:hover {
            background: var(--button-red-background-hover);
        }
        &:active {
            background: var(--button-red-background-active);
        }
    }
}