.searchBar-jGtisZ {
    width: 180px;
}
.privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG {
    padding-left: 8px;
}
.searchBar-jGtisZ,
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    height: 30px;
    padding: 3px;
    border-radius: var(--me-rounding);
    background-color: var(--background-secondary-alt);
}
