.layer-86YKbF {
    background-color: transparent;
    .standardSidebarView-E9Pc3j {
        margin: var(--me-separation);
        border-radius: var(--me-rounding);
        background-color: var(--background-primary);
    }

    .sidebarRegionScroller-FXiQOh, .contentRegion-3HkfJJ, .contentRegionScroller-2_GT_N {
        background-color: transparent;
    }
}