#app-mount .tooltip-14MtrL,
#app-mount .tooltipContent-Nejnvh {
    color: hsl(var(--me-pink-text));
}

#app-mount {
    .tooltip-14MtrL,
    // .tooltip-14MtrL svg,
    .guildNameText-jBFbNC,
    .colorMuted-20987_ {
        color: hsl(var(--me-pink-text));
        font-weight: 600;
    }
}