.guilds-2JjMmN .scrollerBase-_bVAAt {
    margin-top: calc(45px + var(--me-separation));
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: var(--me-rounding);
    background-color: var(--background-primary);
    -webkit-app-region: no-drag;

    .childWrapper-1j_1ub, .circleIconButton-1VxDrg {
        background-color: var(--background-secondary-alt);
    }

    .folder-241Joy.hover-3m7-WT {
        background-color: var(--background-secondary-alt);
    }
    .circleIconButton-1VxDrg {
        color: hsla(var(--me-green));
        &.selected-2r1Hvo {
            color: hsla(var(--me-green-text));
            background-color: hsla(var(--me-green));
        }
    }

    .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
    .wrapper-3kah-n:hover .childWrapper-1j_1ub {
        background-color: hsla(var(--me-accent));
    }

    .listItem-3SmSlK {
        foreignObject {
            mask: none;
            border-radius: 18px;
            transition: border-radius 0.15s;
        }
        &:hover foreignObject {
            border-radius: 13px;
        }
    }
    .blobContainer-ikKyFs {
        &.selected-3c78Ai foreignObject {
            border-radius: 12px !important;
        }
    }
    .listItemWrapper-3d87LP {
        &.selected-3a1QGn foreignObject {
            border-radius: 12px !important;
        }
    }
    .folder-241Joy {
        .folderIconWrapper-1oRIZr {
            border-radius: 13px;
        }
        &:hover .folderIconWrapper-1oRIZr {
            border-radius: 13px;
        }
    }
    .lowerBadge-3WTshO, .upperBadge-1V6Iyi {
        width: 16px;
        height: 16px;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 4px var(--background-primary);
        div {
            background: none !important;
        }
    }
    .lowerBadge-3WTshO {
        background-color: hsla(var(--me-pink));
        div {
            color: hsla(var(--me-pink-text));
        }
    }
    .upperBadge-1V6Iyi {
        background-color: hsla(var(--me-green));
        div {
            color: hsla(var(--me-green-text));
        }
    }
    .guildIcon-2I5sfu.iconSizeSmol-qsFaRK {
        border-radius: 7px;
    }
}