.container-2o3qEW {
    background-color: transparent;
}

.membersWrap-3NUR2t {
    background-color: transparent;
    .members-3WRCEx, &.members-3WRCEx > div {
        background-color: transparent;
        .member-2gU6Ar, .content-2a4AW9 {
            background-color: transparent;
        }
    }
}