#app-mount {
    .embedFull-1HGV2S {
        border-left: 0;
        border-radius: var(--essence-rounding);
        padding-left: 7px;
        background-color: var(--background-secondary);
        &::before {
            position: absolute;
            content: '';
            top: 4px;
            bottom: 4px;
            left: 4px;
            border-left: 4px solid;
            border-color: inherit;
            border-radius: 15px;
        }
    }
    .wrapperAudio-1Bzv_Z {
        border: none;
        border-radius: var(--essence-rounding);
        background-color: var(--background-secondary);
    }
    .wrapper-1HIH0j {
        border-radius: var(--essence-rounding);
        background-color: var(--background-secondary);
        .guildIconImage-74OdmM {
            background-color: var(--background-tertiary);
        }
    }
    .embedWrapper-1MtIDg {
        border-radius: var(--essence-rounding);
        .textContainer-36wgKK {
            border: none;
        }
        .footer-GXWBBp {
            border: none;
        }
    }
    .video-2HW4jD {
        border-radius: vaR(--essence-rounding);
        -webkit-app-region: no-drag;
    }
}

.theme-dark {
    .wrapper-1ZcZW- {
        color: hsl(var(--essence-accent-brand-saturated));
    }
}