.scroller-kQBbkU, .auto-2K3UW5, .peopleColumn-1wMU14 {
    &::-webkit-scrollbar {
        width: 13px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0 1px var(--background-primary);
        background-color: var(--essence-scroller-track);
    }
}

.scroller-kQBbkU, .auto-2K3UW5, .thin-31rlnD, .peopleColumn-1wMU14 {
    &::-webkit-scrollbar-thumb {
        background-color: var(--essence-scroller-thumb);
    }
}