.container-ZMc96U {
    margin-bottom: var(--essence-default-padding);
    border-radius: var(--essence-default-rounding);
    .container-2oNtJn, .searchBar-jGtisZ {
        background-color: var(--input-background);
    }
    .headerBarInner-2pcZSM::after {
        background: linear-gradient(180deg,rgba(50,52,58,0) 0, var(--background-primary));
    }
    .updateIconForeground-2V_zo4 {
        fill: var(--status-positive);
    }
}