#app-mount .layer-2aCOJ3 {
    .addGamePopout-2SKNIV {
        border-radius: var(--essence-default-rounding);
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-floating);
        .divider-_0um2u {
            border-color: var(--background-modifier-accent-alt);
        }
    }
}