#app-mount .autocomplete-3NRXG8 {
    border-radius: var(--essence-default-rounding);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    background-color: var(--background-floating);
    .categoryHeader-OpJ1Ly {
        background-color: var(--background-floating);
    }
    .option-c0n68t {
        background-color: hsl(var(--essence-accent-blue));
    }
    .autocompleteRow-14iwvH {
        padding: 0;
        .base-2v-uc0 {
            border-radius: 0;
            padding: 8px 16px;
        }
    }
}