#app-mount .layer-2aCOJ3 {
    .colorPickerCustom-1swUKF {
        border: none;
        border-radius: var(--essence-default-rounding);
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-floating);
    }
}