#app-mount .layer-2aCOJ3 {
    .contentWarningPopout-WKdbDG {
        border-radius: var(--essence-default-rounding);
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-floating);
        .footer-2aeMle {
            margin: 0 15px;
            padding: 16px 0;
            border-top: 1px solid var(--background-modifier-accent);
            background-color: var(--background-floating);
        }
    }
}