#app-mount .layer-2aCOJ3 {
    .container-2ebMPP {
        border-radius: var(--essence-rounding);
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-floating);
        .header-145e10 {
            padding: 12px 0;
            margin: 0 15px;
        }
    }
    .channelHeader-DFRX8q {
        background-color: var(--background-floating);
    }
}