#app-mount .noiseCancellationPopout-2-e5Xz {
    border-radius: var(--essence-default-rounding);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    background-color: var(--background-floating);
    .progress-1S-TDF {
        background-color: var(--background-secondary-alt);
    }
    .notches-2w7UZJ.black-11MaxJ {
        background-image: none;
        background-color: var(--background-floating);
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
    }
}