#app-mount .layer-2aCOJ3 {
    .overflowRolesPopout-1Puiuq, .overflowRolesPopoutArrow-2R7g3K {
        border-radius: var(--essence-default-rounding);
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-floating);
    }
}