#app-mount .layer-2aCOJ3 {
    .autocompleteShadow-2nfsSy {
        box-shadow: none;
    }
    .autocompleteArrow-jJE9TQ {
        box-shadow: none;
        background-color: var(--background-tertiary);
    }
    .header-3i_Csh {
        background-color: var(--background-tertiary);
    }
    .row-1Ib2uD {
        padding: 0;
        .rowInner-3uonq8 {
            border-radius: 0;
            padding-left: 16px;
        }
    }
}