#app-mount .layer-2aCOJ3 {
    .messagesPopoutWrap-3zryHW {
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-floating);
        .messageGroupWrapper-1jf_7C {
            margin: 0 0 9px;
            border: none;
            background-color: var(--background-primary);
        }
        .header-1w9Q93 {
            padding: 16px 0;
            margin: 0 15px 10px 15px;
            box-shadow: none;
        }
    }
}