#app-mount {
    .searchResultsWrap-5RVOkx {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid var(--background-floating);
        border-radius: var(--essence-default-rounding);
        background-color: var(--background-floating);
        .searchHeader-1r_ZSh {
            margin: 0 15px;
            padding: 0;
            border-bottom: 1px solid var(--background-modifier-accent-alt);
            background-color: var(--background-floating);
        }
        .channelName-3w2Y3c {
            background-color: var(--background-floating);
        }
        .button-cfOvv- {
            background-color: var(--background-secondary);
        }
    }

    // || Search Popout Container
    .searchAnswer-23w-CH,
    .searchFilter-2UfsDk {
        color: var(--text-normal);
        background-color: var(--background-secondary);
    }
    .container-2McqkF {
        margin-right: 112px;
        border-radius: var(--essence-default-rounding);
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-floating);
        .resultsGroup-cfY57t::before {
            border-top-color: var(--background-modifier-accent-alt);
        }
        .focused-2FU0YH {
            border-bottom: none;
            background-color: var(--background-floating);
        }
        .option-ayUoaq {
            margin: 0;
            padding: 0 20px;
            border-radius: 0;
            &::after {
                background: none;
            }
        }
    }
}