#app-mount .layer-2aCOJ3 {
    .header-3_zmOb {
        margin: 0 15px;
        padding: 0;
        border-bottom: 1px solid var(--background-modifier-accent-alt);
        .divider-2xk5N2 {
            background-color: var(--background-modifier-accent-alt);
        }
    }
    .browser-mnQ1T7 {
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        background-color: var(--background-floating);
    }
}