#app-mount .tooltipGrey-lpLZjh {
    color: var(--text-normal);
    background-color: var(--background-floating);
    .tooltipPointer-3L49xb {
        border-top-color: var(--background-floating);
    }
}