:root {
    --me-rounding: 9px;
    --me-separation: 20px;

    /* [ COLORS ] */
    --background-primary: #1B1B2D;
    --background-secondary: #232339;
    --background-tertiary: #11111D;
    --scroller-background: var(--background-secondary);
    --scroller-thumb: #F53D7A;
}