:root {
    --me-rounding: 8px;
    --me-separation: 16px;

    /* [ ACCENT COLOS ] */
    --me-accent: ;
    --me-pink: 340, calc(var(--saturation-factor,1)*90%), 60%;
    --me-pink-text: 340, calc(var(--saturation-factor,1)*90%), 15%;
    --me-green: 140, calc(var(--saturation-factor,1)*90%), 60%;
    --me-green-text: 140, calc(var(--saturation-factor,1)*90%), 15%;

    /* [ BASE COLORS ] */
    --background-primary: #1B1B2D;
    --background-secondary: #232339;
    --background-secondary-alt: #2D2D49;
    --background-tertiary: #11111D;
    --background-floating: hsl(var(--me-pink));
    --scroller-background: var(--background-secondary);
    --scroller-thumb: #F53D7A;
}