.notice-2HEN-u {
    top: calc((var(--me-separation)*2) + 45px);
    margin-right: var(--me-separation);
    margin-left: var(--me-separation);
    border-radius: var(--me-rounding);
    margin-bottom: var(--me-separation);
    -webkit-app-region: no-drag;
}