#app-mount .guilds-2JjMmN {
    left: 4px;
    width: 80px;
    background-color: transparent;
    &.hidden-10MsGQ {
        left: 0px;
        width: 0px;
    }
    .unreadMentionsIndicatorTop-2bTgUU {
        top: 2px;
    }
    .scroller-3X7KbA {
        margin-bottom: 132px;
        padding-top: var(--essence-default-padding);
        contain: unset;
        background-color: transparent;
        // || List Items
        .listItem-3SmSlK {
            foreignObject {
                mask: none;
                border-radius: var(--server-default-rounding);
                transition: border-radius 0.3s;
                .wrapper-3kah-n {
                    &.selected-1Drb7Z .childWrapper-1j_1ub {
                        background-color: hsl(var(--essence-accent-brand));
                        .homeIcon-r0w4ny path {
                            color: hsl(var(--essence-accent-brand-alt));
                        }
                    }
                    .childWrapper-1j_1ub {
                        background-color: var(--background-primary);
                        .homeIcon-r0w4ny path {
                            color: hsl(var(--essence-accent-brand));
                        }
                    }
                }
                .circleIconButton-1VxDrg {
                    color: hsl(var(--essence-accent-green));
                    background-color: var(--background-primary);
                    &.selected-2r1Hvo {
                        color: hsl(var(--essence-accent-green-alt));
                        background-color: hsl(var(--essence-accent-green));
                    }
                    svg {
                        color: inherit;
                    }
                }
            }
            .wrapper-28eC3z, .folderIconWrapper-1oRIZr {
                border-radius: 0;
            }
            .listItemWrapper-3d87LP.selected-3a1QGn, .blobContainer-ikKyFs.selected-3c78Ai, .wrapper-28eC3z:hover {
                foreignObject {
                    border-radius: var(--server-selected-rounding);
                }
            }
            .closedFolderIconWrapper-3tRb2d .iconInactive-26M06U {
                border-radius: var(--server-default-rounding);
            }
            // || Item Pills
            .wrapper-z5ab_q {
                .item-2LIpTv {
                    left: 5px;
                    width: 4px;
                    border-radius: 25px;
                    background-color: hsl(var(--essence-accent-brand));
                    transform: none !important;
                }
            }
            // || Item Badges
            .upperBadge-1V6Iyi {
                .iconBadge-32fMme {
                    width: 14px !important;
                    height: 14px;
                    min-width: unset;
                    min-height: unset;
                    box-shadow: 0 0 0 4px var(--background-tertiary);
                    background-color: var(--status-positive) !important;
                    svg {
                        color: hsl(var(--essence-accent-green-alt));
                    }
                }
            }
            .lowerBadge-3WTshO {
                top: 0;
                left: 0;
                .numberBadge-37OJ3S {
                    width: 14px !important;
                    height: 14px;
                    min-width: unset;
                    min-height: unset;
                    box-shadow: 0 0 0 4px var(--background-tertiary);
                    background-color: var(--status-danger) !important;
                    font-size: 9px;
                }
            }
        }
        .guildSeparator-a4uisj::after {
            position: fixed;
            content: '';
            bottom: calc(var(--essence-app-padding) + 122px);
            height: 2px;
            width: 32px;
            border-radius: 1px;
            background-color: var(--background-modifier-accent);
        }
        .tutorialContainer-2jwoiB {
            position: fixed;
            bottom: calc(var(--essence-app-padding) + 58px);
            + .listItem-3SmSlK {
                position: fixed;
                bottom: calc(var(--essence-app-padding) + 2px);
            }
        }
        // || Folders
        .wrapper-38slSD {
            .expandedFolderBackground-1kSAf6 {
                background-color: var(--background-primary);
            }
            .folder-241Joy {
                background-color: var(--background-primary);
                &.hover-3m7-WT {
                    background-color: var(--background-secondary);
                }
            }
            [id^="folder-items"] {
                // .iconBadge-32fMme, .numberBadge-37OJ3S {
                //     box-shadow: 0 0 0 4px var(--background-primary);
                // }
                div.childWrapper-1j_1ub {
                    background-color: var(--background-secondary);
                }
            }
        }
    }
    .unreadMentionsIndicatorBottom-3RJMnQ {
        bottom: calc(var(--essence-app-padding) + 114px);
    }
}

.platform-web {
    .scroller-3X7KbA {
        margin-bottom: 188px;
        .guildSeparator-a4uisj::after {
            bottom: 196px;
        }
        .tutorialContainer-2jwoiB {
            bottom: calc(var(--essence-app-padding) + 114px);
            ~ .listItem-3SmSlK:nth-child(1n) {
                bottom: calc(var(--essence-app-padding) + 58px);
            }
            ~ .listItem-3SmSlK:nth-child(2n) {
                display: none;
                + .listItem-3SmSlK {
                    position: fixed;
                    bottom: calc(var(--essence-app-padding) + 2px);
                }
            }
        }
    }
    .unreadMentionsIndicatorBottom-3RJMnQ {
        bottom: 188px;
    }
}