.notice-2HEN-u {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: var(--essence-rounding);
    &.notice-1x8lm- {
        background-color: hsl(var(--essence-accent-brand));
    }
    &.colorStreamerMode-8uoRWd {
        background-color: hsl(var(--essence-accent-purple));
    }
}