.notice-2HEN-u {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: var(--essence-default-rounding);
    &.notice-1x8lm- {
        background-color: hsl(var(--essence-accent-brand));
    }
    &.colorDefault-1e8tQv {
        background-color: hsl(var(--essence-accent-green));
    }
    &.colorWarning-3oV0Ge {
        background-color: hsl(var(--essence-accent-yellow));
    }
    &.colorDanger-2YLzLC {
        background-color: hsl(var(--essence-accent-red));
    }
    &.colorStreamerMode-8uoRWd {
        background-color: hsl(var(--essence-accent-purple));
    }
}