.typeWindows-2-g3UY {
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin: 0 18px;
    background-color: transparent;
    .wordmark-2u86JB {
        position: relative;
        left: 1px;
        width: auto;
        height: auto;
        margin-right: auto;
        padding: 0;
        padding-bottom: 2px;
        background-size: 200% 200%;
        background-image: var(--essence-theme-gradient);
        &::before {
            content: var(--essence-theme-name);
            width: 80px;
            color: var(--text-normal);
            font-size: 12px;
            font-weight: 550;
            white-space: nowrap;
            background-color: var(--essence-app-background);
        }
        svg {
            display: none;
        }
    }
    .winButton-3UMjdg {
        top: 0;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        border-radius: 5px;
        background-color: var(--background-primary);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0;
        transition: all 220ms ease;
        &:nth-child(2) {
            order: 4;
            background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.16998 10.83L10.83 5.17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.83 10.83L5.16998 5.17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            &:hover {
                background-color: var(--winbutton-close-background);
            }
        }
        &:nth-child(3) {
            order: 2;
            background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.83331 6.75V5.70833C3.83331 4.67083 4.67081 3.83333 5.70831 3.83333H6.74998" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.25 3.83333H10.2917C11.3292 3.83333 12.1667 4.67083 12.1667 5.70833V6.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.1667 9.66667V10.2917C12.1667 11.3292 11.3292 12.1667 10.2917 12.1667H9.66669" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.74998 12.1667H5.70831C4.67081 12.1667 3.83331 11.3292 3.83331 10.2917V9.25" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            &:hover {
                background-color: var(--winbutton-max-background);
            }
        }
        &:nth-child(4) {
            order: 3;
            background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 8H12" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            &:hover {
                background-color: var(--winbutton-min-background);
            }
        }
        &:hover {
            background-size: 100%;
        }
        svg {
            display: none;
        }
    }
}
.app-focused {
    .wordmark-2u86JB {
        animation: var(--essence-version-color-animation, none);
    }
    .winButton-3UMjdg {
        &:nth-child(2) {
            background-color: var(--winbutton-close-background);
        }
        &:nth-child(3) {
            background-color: var(--winbutton-max-background);
        }
        &:nth-child(4) {
            background-color: var(--winbutton-min-background);
        }
    }
}

@keyframes defaultGradient {
    0% {
        background-position: 0% 58%;
    }
    50% {
        background-position: 100% 43%;
    }
    100% {
        background-position: 0% 58%;
    }
}
